* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    background-color: #000;
}

.bg-img {
    height: 98vh;
    width: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.307) 0%, rgba(0, 0, 0, 0.8) 100%), url('https://assets.nflxext.com/ffe/siteui/vlv3/61e79073-50cf-4f7b-9a23-73290e6f7dca/828332cb-06fb-4098-bf3d-2934bf43dfc4/BR-pt-20230410-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    /* display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 86px;
    width: 1170px; */
    max-width: calc(83.3333% - 96px);
    /* margin: 0 auto;
    gap: 24px; */
}

.email::placeholder {
    font-size: 16px;
}

main {
    margin-top: 12px;
    background-color: #000;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 72px 0;
    background-color: #232323;
}

.area {
    display: flex;
    flex-direction: row;
    background-color: #000;
    margin-inline: auto;
}

.img {
    height: 474px;
    width: 579px;
}

.area .text {
    height: 192.8px;
    width: 579px;
    padding-right: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.area .text .title {
    font-size: 48px;
    font-weight: 900;
}

.area .text p {
    font-size: 24px;
    margin-top: 16px;
}

.sct-1 {
    margin-top: -72px;
} /* GAMBIARRA */

.sct-2, .sct-4 {
    flex-direction: row-reverse;
}

.sct-4 {
    margin-bottom: -62px;
} /* GAMBIARRA */

.img-st {
    background-color: #000;
    /* height: 76px; */
    /* width: 289.5px; */
    min-width: 240px;
    border: 2px solid #FFF;
    border-radius: 12px;
    padding: 8px 12px;
    box-shadow: rgb(0, 0, 0) 0px 0px 32px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

@keyframes color {
    0% {color: #FFF;}
    50% {color: #0071EB;}
}

.fa-download {
    animation: color 5s infinite;
}

.btn-f {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    width: 77%;
    background-color: #2D2D2D;
    font-size: 24px;
}

.fa-plus {
    font-size: 40px;
}

.btn-f:hover {
    background-color: #4E4E4E;
    transition: all 0.1s ease 0s;
}

footer {
    width: 100%;
    padding-top: 8px;
    background-color: #232323;
}

.footer-black {
    background-color: #000;
    margin: 0 auto;
}

.content-footer {
    width: 77%;
    margin-inline: auto;
    padding: 72px 0;
}