* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    background-color: #00081D;
}

.bg-img {
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #00081de9 0%, #09143c88 100%), url('https://assets.nflxext.com/ffe/siteui/vlv3/61e79073-50cf-4f7b-9a23-73290e6f7dca/828332cb-06fb-4098-bf3d-2934bf43dfc4/BR-pt-20230410-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.email::placeholder {
    font-size: 16px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

main {
    display: grid;
    grid-template-columns: 703px 703px;
    grid-template-rows: 650px 650px;
    gap: 16px;
    justify-content: center;
    /* padding-inline: 48px; */
    margin-top: -52px;
}

.area {
    background-color: #FFF;
    border-radius: 8px;
    background-image: linear-gradient(to right bottom, #0b143b, #1a153d, #25163e, #30173f, #39183f);
}

.area img {
    height: 441px;
    margin-inline: auto;
}