* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    text-decoration: none;
}

.topbar {
    background-color: #000;
    height: 88px;
    width: 100vw;
    font-size: 17px;
    font-weight: 400;
    padding: 0 30px;
    line-height: 25.5px;
    display: flex;
}

.topbar__inner {
    height: 49.6px;
    width: 1313.28px;
    max-width: 1900px;;
    margin: 19px 73px;
    min-height: auto;
    min-width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar__logo-wrapper {
    height: 33px;
    width: 393.75px;
    display: flex;
}

.topbar__logo {
    display: block;
    height: 32px;
    width: 126px;
    font-size: 24px;
}

.topbar__help {
    font-size: 24px;
    letter-spacing: -0.5px;
    line-height: 23px;
    height: 29px;
    width: 139.777px;
    border-left: 2px solid #FFF;
    margin: 4px 0 0 13px;
    padding: 2px 0 4px 13px;
    display: block;
}

.topbar__help:hover {
    text-decoration: 2px solid rgb(255, 255, 255);
    transition: 0.5s;
}

.topbar__controls {
    font-size: 14px;
    line-height: 21px;
    height: 49.6px;
    width: 919.287px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topbar__submit {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    background-color: #191A1B;
    height: 49.6px;
    width: 230.675px;
    border: 1px solid #FFF;
    border-radius: 8px;
    margin: 0 0 0 16px;
    padding: 6px 22px;
    display: block;
    position: relative;
}

.login {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    background-color: #4C5FD5;
    height: 49.6px;
    width: 139.938px;
    border: 1px solid #4C5FD5;
    border-radius: 8px;
    margin: 0 0 0 16px;
    padding: 6px 32px;
    display: block;
    position: relative;
}

.login:hover {
    background-color: #FFF;
    color: #000;
    transition: all 0.3s ease 0s;
}

.hero-unit {
    font-size: 20px;
    line-height: 30px;
    background-color: #DADBF1;
    height: 396.6px;
    width: 1519.9px;
    max-width: 1900px;
    padding: 80px 30px 115px 30px;
    display: block;
    overflow: hidden;
    position: relative;
}

.hero-unit__content {
    height: 201.6px;
    width: 720px;
    margin: 0 370px;
    max-width: 720px;
    display: block;
    position: relative;
    z-index: 2;
}

.hero-unit__title {
    font-size: 80px;
    letter-spacing: -4px;
    line-height: 120px;
    text-align: center;
    color: #000;
    height: 120px;
    width: 720px;
    margin: 0 0 16px 0;
    display: block;
    position: relative;
    z-index: 3;
}

#query {
    font-size: 20px;
    line-height: 32px;
    height: 65.6px;
    width: 720px;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 16px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 14px 0px;
}

.bx-right-arrow-alt {
    font-size: 35px;
    line-height: 30px;
    color: #000;
    height: 36.225px;
    width: 28px;
    position: absolute;
    top: 152.375px;
    bottom: -5px;
    right: 15px;
    left: 667px;
    display: block;
    z-index: 100;
    overflow: hidden;
}

.bx-right-arrow-alt:hover {
    color: #4C5FD5;
    transition: all 0.3s ease 0s;
}