* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    text-decoration: none;
}

.layout {
    height: 1546.6px;
    width: 1519.2px;
    padding: 0 0 16px 0;
    position: relative;
    display: block;
}

.topbar {
    background-color: #000;
    height: 88px;
    width: 100vw;
    font-size: 17px;
    font-weight: 400;
    padding: 0 30px;
    line-height: 25.5px;
    display: flex;
}

.topbar__inner {
    height: 49.6px;
    width: 1313.28px;
    max-width: 1900px;;
    margin: 19px 73px;
    min-height: auto;
    min-width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar__logo-wrapper {
    height: 33px;
    width: 393.75px;
    display: flex;
}

.topbar__logo {
    display: block;
    height: 32px;
    width: 126px;
    font-size: 24px;
}

.abstract-logo {
    position: absolute;
    display: block;
    top: 17px;
    left: 30px;
}

.abstract-logo:hover {
    opacity: 0.8;
    transition: all 0.3s ease 0s;
}

.topbar__help {
    font-size: 24px;
    letter-spacing: -0.5px;
    line-height: 23px;
    height: 29px;
    width: 139.777px;
    border-left: 2px solid #FFF;
    margin: 4px 0 0 13px;
    padding: 2px 0 4px 13px;
    display: block;
}

.topbar__help:hover {
    text-decoration: 2px solid rgb(255, 255, 255);
    transition: 0.5s;
}

.topbar__controls {
    font-size: 14px;
    line-height: 21px;
    height: 49.6px;
    width: 919.287px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topbar__submit {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    background-color: #191A1B;
    height: 49.6px;
    width: 230.675px;
    border: 1px solid #FFF;
    border-radius: 8px;
    margin: 0 0 0 16px;
    padding: 6px 22px;
    display: block;
    position: relative;
}

.login {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    background-color: #4C5FD5;
    height: 49.6px;
    width: 139.938px;
    border: 1px solid #4C5FD5;
    border-radius: 8px;
    margin: 0 0 0 16px;
    padding: 6px 32px;
    display: block;
    position: relative;
}

.login:hover {
    background-color: #FFF;
    color: #000;
    transition: all 0.3s ease 0s;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */

main {
    height: 1378.6px;
    width: 1519.2px;
    max-width: 1900px;
}

.hero-unit {
    font-size: 20px;
    line-height: 30px;
    background-color: #DADBF1;
    height: 396.6px;
    width: 1519.9px;
    max-width: 1900px;
    padding: 80px 30px 115px 30px;
    display: block;
    overflow: hidden;
    position: relative;
}

.hero-unit__content {
    height: 201.6px;
    width: 720px;
    margin: 0 370px;
    max-width: 720px;
    display: block;
    position: relative;
    z-index: 2;
}

.hero-unit__title {
    font-size: 80px;
    letter-spacing: -4px;
    line-height: 120px;
    text-align: center;
    color: #000;
    height: 120px;
    width: 720px;
    margin: 0 0 16px 0;
    display: block;
    position: relative;
    z-index: 3;
}

#query {
    font-size: 20px;
    line-height: 32px;
    height: 65.6px;
    width: 720px;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 16px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 14px 0px;
}

#arrow {
    font-size: 30px;
    line-height: 30px;
    color: #000;
    height: 36.225px;
    width: 28px;
    position: absolute;
    top: 155.375px;
    bottom: -5px;
    right: 15px;
    left: 667px;
    display: block;
    z-index: 100;
}

#arrow:hover {
    color: #4C5FD5;
    transition: all 0.3s ease 0s;
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */

.container {
    height: 854px;
    width: 1519.2px;
    display: block;
    padding: 0 30px 0 30px;
    display: block;
}

.category-list__items {
    height: 854px;
    width: 1197.35px;
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

.category-list-item {
    height: 238px;
    width: 598.675px;
    margin: 0 0 48px 0;
    padding: 0 15px 0 0;
    min-height: 115px;
    min-width: auto;
    display: flex;
    /* flex-direction: column; */
    position: relative;
}

.list-icon {
    height: 118px;
    width: 118.3px;
    margin: 50px 0 0 0;
    display: flex;
}

.category-list-icon {
    height: 88.3px;
    width: 88.3px;
    margin: 0 30px 0 0;
    max-width: 100%;
    max-height: 120px;
    display: block;
    overflow: clip;
}

.category-list-block {
    height: 238px;
    width: 465.375px;
    padding: 0 24px 0 0;
    position: relative;
    display: block;
}

.list-content {
    height: 158px;
    width: 441.375px;
    position: relative;
    display: block;
    z-index: 2;
}

.list-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #191A1B;
    height: 28px;
    width: 441.375px;
    margin: 48px 0 16px 0;
    display: block;
}

.list-desc {
    font-size: 24px;
    line-height: 32px;
    color: #191A1B;
    height: 64px;
    width: 441.375px;
    margin: 0 0 20px 0;
    display: block;
}

.list-link, .fa-arrow-right {
    font-size: 20px;
    line-height: 28px;
    color: #4C5FD5;
    display: inline;
}

.fa-arrow-right {
    margin-left: 8px;
}

.list-link:hover {
    text-decoration: underline 1px solid #4C5FD5;
    transition: all 0.3s ease 0s;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

.footer {
    background-color: #000;
    height: 402px;
    width: 1519.2px;
    padding: 0 30px 60px 30px;
    position: relative;
    display: block;
}

.footer-column {
    height: 164px;
    width: 262.65px;
    display: inline-block;
}

.footer-title {
    font-size: 24px;
    line-height: 28px;
    height: 28px;
    width: 262.65px;
    margin: 48px 0 16px 0;
    display: block;
}

a {
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    width: 262.65px;
    display: block;
    color: #FFF;
}

a:hover {
    text-decoration: underline 1px solid #FFF;
    transition: all 0.3s ease 0s;
}

