* {
    box-sizing: border-box;
    margin: 0;
    font-family: Poppins;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 60px 0;
    color: #36393F;
    background-color: #ECF4FF;
}

.background {
    position: fixed;
    z-index: -1;
    top: -100px;
    left: -100px;
    right: -100px;
    height: 60vh;
    rotate: -4deg;
    background-color: #0F71FF;
}

.card {
    display: grid;
    place-items: center;
    gap: 10px;
    order: 2;
    width: 75%;
    margin: 0 auto;
    border-radius: 6px;
    padding: 50px;
    background-color: #FFF;
}

.card.primary {
    order: 1;
}

.card.primary var {
    font-size: 60px;
}

.card var {
    color: #0F71FF;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    margin-bottom: 10px;
}

.card var small {
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
}

ul li {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 6px 0;
}

.card button {
    display: grid;
    place-items: center;
    min-width: 200px;
    padding: 14px 0;
    border-radius: 6px;
    border: 2px solid #0F71FF;
    color: #0F71FF;
    background: transparent;
    font-size: inherit;
    font-style: inherit;
}

.card.primary button {
    background-color: #0F71FF;
    color: #F7F7F7;
}

@media (width >= 660px) {
    .card {
        width: 60vw;
    }
}

@media (width >= 960px) {
    body {
        padding: 0;
        flex-direction: row;
    }

    body, html {
        height: 100%;
    }

    .card {
        width: 300px;
        max-width: 300px;
        margin: 0;
    }

    .card.primary {
        order: 2;
    }
}