a {
    text-decoration: none;
    color: #87858C;
    padding: 8px 0;
    margin-bottom: 8px;
    height: 40px;
}

a:hover {
    color: #212121;
}

h2 {
    color: #212121;
    font-size: 19px;
    margin-bottom: 24px;
    font-weight: 500;
}

.top {
    display: flex;
    margin: 32px;
    margin-bottom: 0;
    width: 1440px;
    gap: 32px;
}

.links {
    display: flex;
    flex-direction: column;
    width: 190px;
    max-width: 190px;
    height: 388.5px;
    font-size: 16px;
    gap: 8px;
}

.bottom {
    margin: 32px;
    width: 1440px;
    border-top: 3px solid #EDEDED;
    padding-top: 32px;
}

.social {
    display: flex;
}

.social i {
    height: 44px;
    width: 44px;
    font-size: 30px;
    color: #212121;
    cursor: pointer;
}

.legal {
    margin: 16px 0 4px 0;
}

.legal span {
    font-size: 16px;
    color: #212121;
    padding: 0 24px;
    border-left: 2px solid #6B6B6B;
}

.legal span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.legal .first {
    border: 0;
    padding-left: 0;
}

.bottom p {
    color: #6B6B6B;
    font-size: 14px;
    padding: 16px 0;
}